html,body {
        height: 100%;
        width: 100%;
}

#cover-image {
	padding: 0;
	background: url("temp_pu.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 60%;
}

.carousel-inner > .item > img { 
	margin: 0 auto;
	height: 600px;
	width: auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: black;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
